:root {
    --borderWidth : 0%;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
    color: inherit;
    border: 0;
    text-decoration: none;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mobile-router-box {
    flex-direction: column;
}

/* header */

.pc-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
}

.pc-header img {
    width: 100px;
}   

.mobile-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
}

.mobile-header img {
    width: 60px;
}

.logoBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 3px);

}

.borderWidth-box {
    width: 100%;
    height: 3px;
}

.borderWidth {
    background: #7DA09A;
    height: 100%;
    width: var(--borderWidth);
    transition: all 1s;
}

/* main */

main {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    background: #FFFFFF;
}

/* title */

.pc-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.pc-title-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 70px;
}

.pc-title {
    font-size: 27px;
    font-weight: 700;
    color: #6CA86E;
}

.pc-title-box img {
    width: 30px;
}

.pc-title-box p {
    color: #000;
    font-size: 12px;
}

/* title mobile */

.mobile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.mobile-title-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
    height: 70px;
}

.mobile-title {
    font-size: 20px;
    font-weight: 700;
    color: #6CA86E;
}

.mobile-title-box img {
    width: 20px;
}

.mobile-title-box p {
    color: #000;
    font-size: 9px;
}

/* abti */

.pc-abti-question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 50%;
    height: 160px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.pc-abti-question {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    height: 40%;
}


.pc-abti-checkbox {
    display: flex; 
    justify-content: center; 
    gap: 30px;  
    width: 100%;
    height: 60%; 
    padding: 10px; 
}

.pc-abti-checkbox > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    color: #000;
    font-size: 12px;
}

.pc-abti-checkbox label {cursor: pointer;}

.pc-abti-checkbox input[type="radio"] + label {
    display: flex; 
    width: 40px; 
    height: 40px; 
    border-radius: 100%; 
    border: 2px solid #bcbcbc; 
    cursor: pointer; 
    transition: all 0.2s;
}

.pc-abti-checkbox input[type="radio"]:checked + .abti-yes-label { background: #BAEAC5;}
.pc-abti-checkbox input[type="radio"]:checked + .abti-no-label { background: #C3EEEE;}

.pc-abti-checkbox input[type="radio"] {display: none;}

.pc-router-button {
    border-radius: 3px 5px 3px 5px;
    width: 140px;
    height: 35px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #81B0A8;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
}


/* mobile abti*/

.mobile-abti-question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    width: 70%;
    height: 130px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mobile-abti-question {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 40%;
}

.mobile-abti-question span {
    font-weight: 700;
    font-size: 11px;
}


.mobile-abti-checkbox {
    display: flex; 
    justify-content: center; 
    gap: 30px;  
    width: 100%;
    height: 60%; 
    padding: 5px; 
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    user-select: none;
}

.mobile-abti-checkbox > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #000;
    font-size: 10px;
    -webkit-tap-highlight-color : transparent;
}

.mobile-abti-checkbox label {cursor: pointer; -webkit-tap-highlight-color : transparent;}

.mobile-abti-checkbox input[type="radio"] + label {
    display: flex; 
    width: 30px; 
    height: 30px; 
    border-radius: 100%; 
    border: 1px solid #bcbcbc; 
    cursor: pointer; 
    transition: all 0.2s;
    -webkit-tap-highlight-color : transparent;
}

.mobile-abti-checkbox input[type="radio"]:checked + .abti-yes-label { background: #BAEAC5; -webkit-tap-highlight-color : transparent;}
.mobile-abti-checkbox input[type="radio"]:checked + .abti-no-label { background: #C3EEEE; -webkit-tap-highlight-color : transparent;}

.mobile-abti-checkbox input[type="radio"] {display: none;}

.mobile-router-button {
    border-radius: 3px 5px 3px 5px;
    width: 140px;
    height: 35px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #81B0A8;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color : transparent;
}

/* result */

.pc-result-category-box {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 50%;
    height: 50px;
}

.pc-result-category-box h2 {
    font-size: 30px;
    font-weight: 700;
}

.pc-result-contents-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    height: 450px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.pc-result-contents-box span {
    width: 100%;
    height: 30px;
    font-size: 15px;
    padding: 5px;
}

.pc-result-main-text {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #7DA09A;
    width: 100%;
    height: 30px;
    font-size: 17px;
    font-weight: 700;
}

/* result mobile */


.mobile-result-category-box {
    display: flex;
    align-items: center;
    width: 70%;
    height: 20px;
}

.mobile-result-category-box h2 {
    font-size: 18px;
    font-weight: 700;
}

.mobile-result-contents-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    height: 300px;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mobile-result-contents-box span {
    width: 100%;
    height: 30px;
    font-size: 12px;
    padding: 3px;
}

.mobile-result-main-text {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #7DA09A;
    width: 100%;
    color: #4e4d4d;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
}


.main-btn-box {
    display: flex;
    gap: 50px;
    position: absolute;
    flex-direction: column;
    bottom: 130px;
    left: 130px;
}

/* todolist */

.pc-todoList-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    padding: 10px;
}

.pc-todosList-box-input {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 33px;
}

.pc-todosList-box-input input {
    text-align: left;
    width: 43%;
    height: 100%;
    border-bottom: 0.5px solid #4e4d4d;
}

.pc-todosList-box-input button {
    width: 100px;
    background-color: #72CCC7;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    font-size: 12px;
}

.pc-input-create {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 33px;
    border-bottom: 0.5px solid #4e4d4d;
}

.pc-input-create input {
    width: 100%;
}

.pc-input-create button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70px;
    height: 100%;
    right: 0;
    bottom: 0;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
    background: #72CCC7;
    color: #FFFFFF;
}

.overflow-scroll {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: auto;
    width: 100%;
    height: calc(100% - 33px);
}

.overflow-scroll::-webkit-scrollbar {width: 6px;}
.overflow-scroll::-webkit-scrollbar-thumb {background-color: #417977; border-radius: 10px; background-clip: padding-box;}
.overflow-scroll::-webkit-scrollbar-track {background-color: #72CCC7; border-radius: 10px;}

.pc-todo-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20px;
}

.pc-todo-item-btns {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 30px;
    bottom: 0;
}

.pc-todo-item-btns button {
    width: 36px;
    height: 20px;
    border-radius: 3px 3px 0 0;
    background: #72CCC7;
    color: #FFFFFF;
}

.editInput {
    width: 40%;
    border-bottom: 0.5px solid #4e4d4d;
}

.pc-map-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 50%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.pc-map-box .title {
    font-size: 20px;
    font-weight: 700;
}


.mobile-map-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    width: 90%;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mobile-map-box p {
    font-size: 12px;
}

.mobile-map-box .title {
    font-size: 15px;
    font-weight: 700;
}


.mobile-todoList-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 70%;
    height: 50%;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    padding: 5px;
}

.mobile-todosList-box-input {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 33px;
}

.mobile-todosList-box-input input {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 10px;
    border-bottom: 0.5px solid #4e4d4d;
}

.mobile-input-create {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 33px;
    border-bottom: 0.5px solid #4e4d4d;
}

.mobile-input-create input {
    text-align: center;
    font-size: 13px;
    width: 100%;
}


.mobile-todo-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20px;
}

.mobile-todo-item-btns {
    display: flex;
    gap: 5px;
}

.mobile-todo-item-btns button {
    width: 36px;
    height: 20px;
    border-radius: 0 0 5px 5px;
    background: #6CA86E;
    color: #FFFFFF;
}

.mobile-next-box {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-0%, -50%);
}

.mobile-next-box button {
    width: 53px;
    height: 50px;
    border-radius: 100%;
    background-color: #6CA86E;
}